

####
# Config file for BLASTN
####

# variables for blastBuild.sh
local outputMulti_1="outputMulti1.fa";
local outputMulti_2="outputMulti2.fa";
local outputMulti_3="outputMulti3.fa";
local actinoFilePath="/Users/dreyceyalbin/Desktop/Phage-EnrichSeq_old/downloadPhageGenomes_module/Actinobacteriophages-All.fasta";
local phagedbpath="/users/dreyceyalbin/desktop/phage-enrichseq_old/downloadphagegenomes_module/phage_genomes/";
local blasttaxdbURL="ftp://ftp.ncbi.nlm.nih.gov/blast/db/taxdb.tar.gz"
