params {
	help = false
	read = "single"
	fasta = "simgenomes1_illumina.fa"
	workdir = ""
	genomedir = "kraken_module/ref_genomes/"
	log = "/dev/null"
    dbdir = "/Users/latifa/GitHub/Phage-EnrichSeq/kraken_module/krakenDB"
	threads = 1
    outdir = "enrichseq_output"
	toolpath = "/Users/latifa/GitHub/Phage-EnrichSeq/"
	readlength = 100
	kmer_length = 20
	clustering_threshold = 0.5
}
