params {
	help = false
	verbose = false
	read = "single"
	use_gmm = false
	fasta = ""
	workdir = ""
	genomedir = "database/ref_genomes/"
	log = "/dev/null"
    dbdir = "database/krakenDB"
	threads = 1
    outdir = "enrichseq_output"
	toolpath = "src/modules/"
	readlength = 100
	kmer_length = 20
	clustering_threshold = 0.2
}
