params {
	help = false
	read = "single"
	fasta = "simgenomes1_illumina.fa"
	workdir = ""
	log = "/dev/null"
  	dbdir = "/Users/dreyceyalbin/Desktop/Phage-EnrichSeq/kraken_module/krakenDB"
	threads = 1
  	outdir = "enrichseq_output"
	toolpath = "/Users/dreyceyalbin/Desktop/Phage-EnrichSeq/"
	//megahitpath = "/Users/latifa/GitHub/Phage-EnrichSeq/megahit_module"
	//krakenpath = "/Users/latifa/GitHub/Phage-EnrichSeq/kraken_module"
	//brackenpath = "/Users/latifa/GitHub/Phage-EnrichSeq/bracken_module"
	//blastpath = "/Users/latifa/GitHub/Phage-EnrichSeq/blast_module"
	readlength = 100
}
