params {
	help = false
	read = ""
	fasta = ""
	workdir = ""
	log = "/dev/null"
  	dbdir = "/Users/latifa/Genomics/test_custom_kraken_db/krakenDB"
	threads = 1
  	outdir = "enrichseq_output"
	megahitpath = "/Users/latifa/GitHub/Phage-EnrichSeq/megahit_module"
	krakenpath = "/Users/latifa/GitHub/Phage-EnrichSeq/kraken_module"
	brackenpath = "/Users/latifa/GitHub/Phage-EnrichSeq/bracken_module"
}
