params {
	help = false
	read = "single"
	fasta = "simgenomes1_illumina.fa"
	workdir = ""
	log = "/dev/null"
  	dbdir = "/Users/latifa/GitHub/Phage-EnrichSeq/kraken_module/krakenDB"
	threads = 1
  	outdir = "enrichseq_output"
	megahitpath = "/Users/latifa/GitHub/Phage-EnrichSeq/megahit_module"
	krakenpath = "/Users/latifa/GitHub/Phage-EnrichSeq/kraken_module"
	brackenpath = "/Users/latifa/GitHub/Phage-EnrichSeq/bracken_module"
	readlength = 100
}
